.main{
    display: flex;
}
.el1{
    padding: 12px;
    background-color: white;
    margin: 10px;
}
.el2{
    padding: 12px;
    background-color:white;
    margin: 10px;
}
.el3{
    padding: 12px;
    background-color: white;
    margin: 10px;
}
a{
    text-decoration:none;
    color: rgb(10, 168, 116);
}
a:hover{
    text-decoration: underline;
}
body{
    background-color: rgb(196, 211, 211);
}
h2{
    font-family: Arial,sans-serif;
}